**/node_modules
**/dist
# Keep environment variables / secrets out of version control
**/.env
**/*.tfvars
**/**/secret.yaml
# Ideally, bellow files should be stored and updated remotely
**/*.tfstate
**/*.tfstate.*
**/.terraform/*