**/node_modules
**/dist
# Keep environment variables out of version control
**/.env
**/*.tfvars
# Ideally, bellow file should be stored and updated remotely
**/*.tfstate
**/*.tfstate.*
**/.terraform/*
